#app,html,body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex; /* utilizado no elemento pai */
  
}

.box {
  width: 240px;
  height: 60px;
  margin: 5px;
}

.red {
  background-color: red;
  order: 2; /*Ordena a ordem dos compomentes*/
}

.green {
  background-color: green;
  order: 1;
}

.blue {
  background-color: blue;
  order: 0;
}

/* Pertence a div app */
.pai{
  flex-direction: row; /* ordena a direção dos filhos */
  align-items: center; /*Quando em row, alinha os componentes verticalmente, e em column alinha horizontalmente*/
  justify-content: flex-start; /*Quando em row, alinha os componentes horizontalmente, e em column verticalmente*/
  flex-wrap: wrap; /*Quebra a linha quando não sobra espaço para o próximo componente*/
  align-content: center; /*Alinha os componentes que estão com a linha quebrada*/
}

/* Pertence a div box */
.filho {
  flex-grow: 1; /*Os componentes vão ocupar toda largura disponível na tela*/
  flex-shrink: 0; /*Se deixar 1, os componentes não irão conseguir se espremer quando diminuir a tela*/
  flex: 1 0; /*Junção do grow + shrink*/
}
